<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
        {% block style %}

        {% endblock %}
<body>
 
    <h1>Home Page</h1>

    <ul>
        {% if user.is_authenticated %}
        <li><a href = "{%  url 'core:logout' %}">Logout</a></li>
        {% else %}
        <li><a href = "{% url 'core:login' %}">Login</a></li>
        {% endif %}
    </ul>
    {% comment %} {% if user.is_authenticated and user.is_student %}
        <h1>Student Page</h1>
    {% elif user.is_authenticated and user.is_company %}
        <h1>Company Page</h1>
    {% endif %} {% endcomment %}

    {% block content %}

    {% endblock %}

    {% block script %}
    
    {% endblock %}
</body>
</html>